<div class="card-header text-center text-bg-dark rounded-4">
  <h1>Movies</h1>
</div>

<div id="movies">
  <div class="d-flex justify-content-center">
    <% @movies.each do |movie| %>
      <%= link_to (render 'movies/card', movie: movie), movie, class: "btn btn-outline-dark rounded-4 mx-2" %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-2">
    <%= paginate @movies %>
  </div>
</div>
